
  <footer id="footer">
      <i class="foot-icon fab fa-twitter"></i>
      <i class="foot-icon fab fa-facebook-square"></i>
      <i class="foot-icon fab fa-instagram"></i>
      <i class="foot-icon fas fa-envelope"></i>
      <p class="copyright">© Copyright 2021 Saffaat Gazi</p>



  </footer>

  <!-- <div class="footer-padding">
    <div class="footer">
      <i class="foot-icon fab fa-twitter"></i>
      <i class="foot-icon fab fa-facebook-square"></i>
      <i class="foot-icon fab fa-instagram"></i>
      <i class="foot-icon fas fa-envelope"></i>
      <p class="copyright">© Copyright 2021 Saffaat Gazi</p>
    </div>
  </div> -->

  </body>
</html>
