
<%- include("partials/headerwithout");  -%>

<main class="form-signin">
<form  action="/work" method="post">


      <h1 class="loghead h3 mb-3 fw-normal">Log in</h1>

      <input type="text" id="inputEmail" class="top form-control" placeholder="UserName" name="username"  required autofocus>

      <input type="password" id="inputPassword" class=" bottom form-control" placeholder="Password" name="password"  required>

      <button class="button w-100 btn btn-lg btn-primary" type="submit">Log in </button>

</form>
</main>
</section>

<%- include("partials/footer"); -%>
