<%- include("partials/headerwith"); -%>




<h1>Uh-Ohh!!!  😕🤷‍♀️ </h1>
<p class="operation">Product Not In Stock!!</p>
<form action="/back" method="post">
  <button type="submit" class="btn btn-dark btn-lg btn-block" name="button">Back</button>

</form>



</section>

<%- include("partials/footer"); -%>
